{{range .}}
STATUS: {{.Status }}
Labels:
{{ range $key, $value := .Labels }}
{{ $key }}: {{ $value }}
{{end}}
Annotations:
{{ range $key, $value := .Annotations }}
{{ $key }}: {{ $value }}
{{end}}
=========
{{end}}
